@use './helpers' as *;

.visually-hidden {
	@include visually-hidden;
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}

.hidden-tablet {
	@include tablet {
		display: none !important;
	}
}

.visible-tablet {
	@include tablet-above {
		display: none !important;
	}
}

.blue-button {
	--border-radius: #{rem(6)};

	@include fluid-text(18, 14);

	padding: rem(10) rem(15);
	background-color: var(--color-accent);
	border-radius: var(--border-radius);

	@include hover {
		background-color: var(--color-gray);
	}
}	